.main{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  rgba(0,0,0,0.5) ;
}

.form{
    width: 400px;
    height: 400px;
    background: white;
    border-radius: 20px;
    padding: 20px;
}


.blocking{
    padding: 40px 75px;
}